.navbar{
    background-color: white;
    display: flex;
    
}

html{
    overflow-x: hidden;
    
    
}

.col{
    padding: 300px;
}

body{
    overflow-x: hidden;
    
    background: linear-gradient(to right,#222020,#272727);
    
    
    color: white;
    h1{
        font-size: 5.3vw;
        color: #f0b36e;
        font-weight: 400;
        letter-spacing: -2px;
        font-style: oblique;
        
        
        

        
        
    }
    @media screen and (max-width: 992px) {
        h1 {
            font-size: 9vw; /* Larger font size for wider screens */
        }
    }
    
    h2{
        font-size: 32px;
        color: #cfb976;
        font-weight: 500;
        padding-bottom: 20px;
    }
    h4{

        font-size: 20px;
        font-weight: 400;
        color: white;
        line-height: 1.5;
        a{
            color: white;
        }
    }
    .pagetitle{
           
        margin-top: 90px;
        margin-bottom: 90px;
        

    }
    
}
.nav-item{
    display: block;
    justify-content: center;
    margin: 35px;
    font-size:20px;
    a{
        color: black;
        font-style: none;
    }
        

    a:hover{
        color: #d9513f;
        transition: 0.3s;
    }
    
}

.titlecard{
    padding-top: 180px;
    color: white;
    
        
    
    
}

.wells{
    
    

    .skillbox{
        display: flexbox;
        background-color: #ffffff;
        justify-content: center;
        border-radius: 10px;
        text-align: center;
        
        height: auto;
        margin-top: 30px;
        
        img{
            
            height: 110px;
            padding: 21px;
        }

    }
}


.card{
    
    padding: 10px;
    margin-top: 3%;
    border-radius: 50px;
    
    
    
    
}
.experiencecard{
    max-width: 300px;
    .card-title{
        font-size: 15;
    
    }
}





.imageoverlay{
    position: relative;
    
    
}

.card-content{
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    position: absolute;
    transition: 0.55s;
    background-color: rgba(0,0,0,0.6);
    h4{
        font-size: 1vw;
    }
    @media screen and (max-width: 992px) {
        h4 {
            font-size: 3vw; /* Larger font size for wider screens */
        }
    }


    

}

.card-content:hover{
    opacity: 1;

}

.row{
    padding: 30px;
    
}